/* react-notion-x overrides */

:root {
  --notion-max-width: 80%;
}

* {
  box-sizing: border-box;
  font-family: "Butler", sans-serif;
}

.notion-page-icon {
  display: inline-block;
  margin-right: 2px;
  width: 15px;
}

.notion-title {
  font-size: 1em;
}

.notion-text {
  margin-bottom: 1em;
}

.notion-page-cover {
  display: none;
}

.notion-column::-webkit-scrollbar {
  display: none;
}

.notion-collection {
  align-self: flex-start;
}

.notion-spacer {
  width: calc(min(75px, 4vw));
}

.notion-page {
  margin: auto;
  width: var(--notion-max-width);
}

.notion-collection-header,
.notion-table-view {
  padding-left: unset !important;
  padding-right: unset !important;
}

.notion-red_background {
  display: none;
}
